.Container {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}

.Placeholder {
    color: #b6b6b6;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.List {
    display: flex;
    flex-wrap: wrap;
}