.Wrapper {
    overflow-x: hidden;
}

.Container {
    display: inline-flex;
    align-items: flex-start;
}

.Placeholder {
    color: #b6b6b6;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    box-sizing: border-box;
        width: 100vw;
}

.List {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
        width: 100vw;
}